# Dart & Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.metadata

# iOS/macOS (if platform added)
ios/Flutter/.last_build_id
ios/.generated/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/

# Android
android/.gradle/
android/.idea/
android/local.properties
android/key.properties
android/key.jks
*.jks

# Android Studio & IntelliJ
*.iml
.idea/
*.ipr
*.iws

# VS Code
.vscode/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.tmp
.DS_Store
*.lock

# Crash/obfuscation/symbol files
app.*.symbols
app.*.map.json

# Firebase (uncomment if you're using secrets)
# android/app/google-services.json
# ios/Runner/GoogleService-Info.plist
